*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
/* commons */
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    color: #5F6368;
}
.container{
    width: 70%;
    margin: 0 auto;
}

/* header up */
.header-up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
}
.header-logo{
    display: flex;
    
}
.header-logo img{
    width: 100px;
    margin-right: 10px;
    
}
h2{
    font-weight: 500;
    margin-bottom: 4px;
    
}
.header-profile{
    display: flex;
    align-items: center;
}
.icons a{
    font-size: 22px;
    color: #5F6368;
}
.phofo-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(8, 48, 8);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phofo-profile span{
    color: #fff;;
}

/* header down */
.header-down{
    width: 100%;
    border-bottom: 1px solid #dadada;
}
nav ul{
  display: flex; 
  padding-left: 20px; 
}
nav ul li{
    list-style: none;
    height: 100%;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: #5F6368;
    font-size: 14px; 
    font-weight: 600;
}
nav ul li a:hover{
    border-bottom: 2px solid #3367d6;
}

/* main */
main{
    margin-bottom: 80px;
}
h3{
    color: #5F6368;
    margin-top: 80px;
}
p{
    margin-top: 30px;
}
main ol, main li{
    margin-top: 10px;
    padding-left: 15px;
}
.main-text a{
    text-decoration: none;
    color: #3367d6;
    font-weight: bold;
}

/* footer */
footer{
    width: 100%;
    background-color: #e7e6e6;
    padding: 10px 0;
}
.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-left ul{
    display: flex;
}
.footer-left ul li{
    list-style: none;
    margin-right: 15px;
}
.footer-left ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #5F6368;
}
.footer-right i{
    vertical-align: middle;
    color: #5F6368;
}
.footer-right select{
    width: 150px;
}
